.service{
margin: 30px 0;

}
.service a{
    text-decoration: none;
}
.service a:hover{
    color: #fff;
}
.service-img{
    position: relative;

}
.service-text{
    position: absolute;
    bottom: 30px;
   text-align: center;
   color: #fff;
}
.serv-price{
    position: absolute;
    top: 0;
    left: 0px;
    color: #fff;
    font-size: 24px;
    background-color: #FE6F6F;
    padding: 12px 22px;
    border-radius: 5px;
}
.serv-price p{
    margin: 0;
    padding: 0;
}
.checkout-btn{
    border: 0;
    padding: 10px 0;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s;
}
.checkout-btn:hover{
    background-color: #f5f5f5;
}