
.banner-left {
  width: 100%;
}

.hero-btn{
    border: 0;
    background-color: #4D4C7D;
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
}
.hero-btn:hover{
  background-color: #454474;
}